<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My Express App</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.3/css/bootstrap.min.css" integrity="sha384-+bCq4lI9FgIY9FNWby6N5k5EpKmI3SvH5J0XJL+TmryrZ5kpto5F/3P9K5Jd27Cw" crossorigin="anonymous">

</head>
<body>
   <h1>Posts</h1>
   <ul>
       <% posts.forEach(function(post) { %>
           <li><%= post.title %></li>
       <% }); %>
   </ul>
</body>
</html>

